body{
  text-align: center;
}
h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.nav {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
.header{
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}
h2.mid{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
p{
  font-family: Helvetica;
  font-size: 14px;
}
.transition {
    background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
    font-family: Helvetica;
    font-size: 23px;
    font-weight: bold;
    color: white;
}
footer {
  font-size: 11px;
  font-family: Helvetica;
  color: white;
  background-color: dimgray;
  text-align: left;
}
span {
  font-size: 18px;
}
